body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.shimmer-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20;
}

.headerTextShimmer{
  position: absolute;
  color: white;
}


.card{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; 
}



.hoverCards:hover{
box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
cursor: pointer;
transform: scale(1.1);
border: 1px solid #d3d5df;
}

 .head-container{
  display: flex;
  width: 100%;
}
.navbar-section {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px;
  z-index: 4;
  background-color: white;
}

.app-name{
  display: flex;
  justify-content: flex-start;
  font-size: 25px !important;
  padding: 0rem;
  font-weight: 600 !important;
  font-family: 'Tsukimi Rounded', sans-serif !important;
}
.app-logo{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.user-circle{
  border: 1px solid rgb(207, 207, 207);
    border-radius: 50%;
    width: 1.7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 1.7rem;
}

.user-icon{
  /* color: rgb(239, 79, 95); */
}

.overflow-list{
  margin-top: 4rem;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  column-gap: 0.8rem;
  padding: 1rem;
  justify-content: space-between;
  user-select: none;
}
.common-filters-list{
  border: 1px solid rgb(207, 207, 207);
  text-align: center;
  white-space: nowrap;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  color: rgb(156, 156, 156);
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
  justify-content: center;
  align-items: center;
   padding-inline: 1rem;
   padding-block: 0.6rem;
   column-gap: 0.3rem;
transition: 0.3s ease-in-out;
}
.common-filters-list:hover{
color: rgb(239 79 95);
border-color: rgb(239 79 95);
}

@media only screen and (max-width: 900px) {
  .navbar-section{
    position: fixed;
    top: 0px;
    left: 0px;
    /* width: 100%; */
    display: flex;
    -webkit-box-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 3.8rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px;
    z-index: 4;
    background-color: white;
  }

 .app-logo-section{
  display: flex;
  width: 70%;
  color: rgb(239 79 95);
}
.app-name-section{
  display: flex;
  width: fit-content;
  column-gap: 0.4rem;
  align-items: center;
 }
 .user-account{
  width: 20%;
    display: flex;
    justify-content: flex-end;
 }
.item-list-icon{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.overflow-list{
  justify-content: unset;
}
.buttom-nav-action{
background-color: aqua;
}

}